:root {
    --soft-blue: hsl(215, 51%, 70%); 
    --cyan: hsl(178, 100%, 50%);
    --very-dark-blue-Bg : hsl(217, 54%, 11%);
    --very-dark-blue_card: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%); 
}

* {
    box-sizing: border-box;
    padding: 0; 
    margin: 0; 
  }

body{
    font-size:18px;
    font-family: 'Outfit', sans-serif;
    width:100vw;
    height:100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--very-dark-blue-Bg);
    min-width: 375px;
}

.image{
    position: relative;
    display: flex; 
}

.card_image{
    max-width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;  
}

.image {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
/* Actual overlay */
.image:hover:before {
    content: '';
    position: absolute;
    height: 280px;
    width: 280px;
    border-radius: 20px;
    overflow: hidden;
    inset: 0;
    background-color: var(--cyan);
    z-index: 1;
    overflow: 1px;
    opacity: 0.4;
    transition: opacity 300ms ease-in-out;
    cursor: pointer;
}

.image:hover:after{
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    background-image: url(images/icon-view.svg);
    background-repeat: no-repeat;
    position: absolute;
    background-position: center center;
    left: 100px;
    top: 100px;
    z-index: 2;
    cursor: pointer;
}

hr{
    color: var(--very-dark-blue-line);
    margin-bottom: 20px;

}

.card_title{
    color:var(--white);
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 25px;
  
}

.card_title:hover{
    color: var(--cyan);
    cursor:pointer;
}

.card_text{
    color:var(--soft-blue);
    margin-bottom: 20px;
    text-indent: 0px;  
}

.container{
    width:330px;
    background-color: var(--very-dark-blue_card);
    border-radius: 20px;
    padding: 20px;
}

.price-data {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom: 20px; 
  }

.price{
    margin-left:5px;
    color: var(--cyan);
}

.price img, .date img{
    margin-right: 5px; 
}

.seller {
    display: flex;
    align-items: center;
}

.seller img{
    margin-right: 20px;
    height: 66px;
    border: 3px solid white; 
    border-radius: 50px;
}

.seller p{
    margin-right: 5px;
    color: var(--soft-blue);
    font-size: 15px; 
}

.seller .author{
    color: var(--white);
}

.seller .author:hover{
    color: var(--cyan);
    cursor:pointer; 
}
.date{
    color:var(--soft-blue);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }